@model MVC_Case_study_1.Models.Contact

<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
<h2>Add New Contact</h2>

<form class="btn btn-secondary mt-3" asp-action="AddContact" method="post">
    <div class="form-group">
        <label>Contact Id</label>
        <input asp-for="ContactId" class="form-control" />
    </div>
    <div class="form-group">
        <label>First Name</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Company Name</label>
        <input asp-for="CompanyName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="EmailId" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mobile No</label>
        <input asp-for="MobileNo" class="form-control" />
    </div>
    <div class="form-group">
        <label>Designation</label>
        <input asp-for="Designation" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-3">Save</button>
    <a href="/ABCInfo/ShowContacts" class="btn btn-secondary mt-3">Cancel</a>
</form>

</div>